@charset "UTF-8";
body{
	margin: 0px;
	background:#f5f6f7;
}
#logo{
	margin: auto;
	font-size:36px;
	font-weight: bold;
	color:#00c850;
	margin-top: 80px;
}
span{
	font-size:12px;
	font-weight: bold;
	left:-80px;
	
}
#section{
	text-align: center;
	margin: auto;
}

#section div{
	margin-top: 8px;
	
}
#userid{
	width: 350px;
	height: 40px;
}
#pwd{
	width: 350px;
	height: 40px;
}
#name{
	width:350px;
	height: 40px; 
}
#year{
	width: 110px;
	height: 40px;
}
#month{
	width: 110px;
	height: 47px;
}
#day{
	width: 110px;
	height: 40px;
}
#sung{
	width: 360px;
	height: 43px;
}
#email{
	width: 350px;
	height: 40px;
}
#con{
	width: 360px;
	height: 43px;
}
#phone{
	width: 198px;
	height: 40px;
}
#btn{
	border: 1px solid #cccccc;
	padding-top:8px;
	width: 150px;
	height: 34px;
	background: #03c75a;
}
#phone2{
	width: 350px;
	height: 40px;
}
#sub{
	border: 1px solid #cccccc;
	width: 360px;
	height: 34px;
	padding-top: 8px;
	margin: auto;
	background: #03c75a;
}
#in > div{
	display: inline-block;
}

